---
layout: default
scripts: index.js
stylesheets: /index.css
---
<section id="main" class="center-children">
  <div class="flex-main center-children">
    <img id="main-image" alt="a signature (placeholder for a real portrait)" src="img/siggy.png">
    {% include title.html text='this guy' after='⤴' %}
  </div>
  {% include navbutton.html id='show-links' text='&amp;' %}
</section>
<section id="links" class="hidden center-children">
  <div class="flex-main center-children">
    {% include title.html after='also...' %}
    <div class="center-children giga">
      {% for subpage in site.subpages %}
      <a href="{{ subpage.url }}">{{ subpage.title }}</a>&#x20;
      {% endfor %}
    </div>
  </div>
  {% include navbutton.html id='show-main' text='👆' %}
</section>
