---
---

@import "rfs-scss";

body {
  font-family: 'Noto Sans TC', sans-serif;
  @include font-size(1rem);
}

pre {
  font-family: 'Inconsolata', monospace;
}

header :first-child {
  margin-top: 1vh;
}

h1, h2 {
  font-weight: 900;
}

h1, .yuge {
  @include font-size(3rem);
}

h2, .big {
  @include font-size(2rem);
  font-weight: 900;
}

.less-big {
  @include font-size(1.5rem);
  font-weight: 500;
}

.small {
  @include font-size(.75rem);
  font-weight: 400;
}

.center-children {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.red {
  color: red;
}

.faint {
  opacity: 50%;
}

#expand {
  width: 80%;
  @include padding(1.6rem);
  @include font-size(3.2rem);
  cursor: pointer;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 60%);
  box-shadow: none;
  border: none;
  border-radius: 5px;
  transition: background-color 200ms, color 200ms;

  &:hover {
    background-color: #ddd;
  }

  &:focus {
    outline: none;
    background-color: #ddd;
    color: white;

    @media only screen and (min-width: 500px) {
      background-color: #999;
    }
  }
}

#main-image {
  @include rfs(500px, width);
}
