---
---

@import "rfs-scss";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Noto Sans TC', sans-serif;
  @include font-size(1rem);
}

pre {
  font-family: 'Inconsolata', monospace;
}

header :first-child {
  @include margin-top(1rem);
}

h1, h2 {
  font-weight: 900;
}

h1, .yuge {
  @include font-size(5rem);
}

h2, .big {
  @include font-size(2rem);
  font-weight: 900;
}

.less-big {
  @include font-size(1.5rem);
  font-weight: 500;
}

.small {
  @include font-size(.75rem);
  font-weight: 400;
}

.giga {
  @include font-size(4rem);
  font-weight: 900;
}

.center-children {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.red {
  color: red;
}

.faint {
  opacity: 50%;
}

.hidden {
  display: none;
}

.flex-main {
  flex: 1 0 auto;
}

.flex-last {
  flex-shrink: 0;
}
