body {
  font-family: 'Noto Sans TC', sans-serif;
}

pre {
  font-family: 'Inconsolata', monospace;
}

header :first-child {
  margin-top: 1vh;
}

h1, h2 {
  font-weight: 900;
}

h1 {
  font-size: 3em;
}

h2, .big {
  font-size: 2em;
  font-weight: 900;
}

.less-big {
  font-size: 1.5em;
  font-weight: 500;
}

.center-children {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.red {
  color: red;
}

.small {
  font-size: .75em;
  font-weight: 400;
}

.faint {
  opacity: 50%;
}

#expand {
  width: 70%;
  padding: 1em;
  font-size: 2em;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  opacity: 40%;
  box-shadow: none;
  border: none;
  transition: background-color 200ms, opacity 200ms;
}

#expand:hover {
  background-color: #eee;
  opacity: 100%;
}

#main-image {
  width: 100%;
}

@media only screen and (min-width: 500px) {
  #main-image {
    width: 500px;
  }
}
