@import "rfs-scss";

$jump-duration: 200ms;

:export {
  jumpDuration: $jump-duration;
}

.img-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  @include margin-top(1rem);
}

img {
  border-radius: 1em;
}

.arrow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  color: white;
  font-weight: bolder;
  background-color: #999;
  box-shadow: 0 0 1px .5px #999;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 200ms, background-color 200ms, color 200ms;
  @include rfs(50px, height);
  @include rfs(50px, width);
  padding: 0;
  border: none;
  cursor: pointer;
  transform: none;
  z-index: 1;  // so image doesn't hide button
  outline: none;
  @include margin(1.5rem);

  .img-container:hover & {
    opacity: .34;  // #ddd on a white bg

    &:hover {
      opacity: 1;
    }

    &:focus:not(:active) {
      @extend .jump;
    }
  }
}

.jump {
  animation: jump $jump-duration;
}

@keyframes jump {
  0% {
    width: 0;
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: none;
  }
}
