<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&family=Inconsolata:wght@400&family=Raleway:wght@700&display=swap" rel="stylesheet">
    {% for stylesheet in page.stylesheets %}
      <link rel="stylesheet" href="{{ stylesheet }}">
    {% endfor %}
    {% for script in page.scripts %}
      <script src="{{ script }}"></script>
    {% endfor %}
    <script>
      document.addEventListener('DOMContentLoaded', setText);

      function setText() {
        words = window.location.pathname.split('/').filter(Boolean).join(' ');
        [...document.querySelectorAll('.input')].map(e => {
          if (!e.textContent) e.textContent = words;
        });
        document.head.querySelector(
          'meta[property="og:description"]'
        ).content = document.querySelector('.input').parentElement.textContent.split(/\s/).filter(Boolean).join(' ');
      }
    </script>
    {% if page.url == '/' %}
      <title>hadi.is | I'm Hadi</title>
      <meta name="title" content="hadi.is | I'm Hadi">
      <meta property="og:title" content="hadi.is | I'm Hadi">
    {% else %}
      <title>{{ page.title }} | hadi.is</title>
      <meta name="title" content="{{ page.title }} | hadi.is">
      <meta property="og:title" content="{{ page.title }} | hadi.is">
    {% endif %}
    <meta property="og:description" content="{{ page.excerpt }}">
    <meta property="og:url" content="{{ page.url | absolute_url | replace: 'index.html', '' }}">
    <link rel="canonical" href="{{ page.url | absolute_url | replace: 'index.html', '' }}">
  </head>
  <body>
    {{ content }}
  </body>
</html>
