<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&display=swap" rel="stylesheet">
    {% for stylesheet in page.stylesheets %}
      <link rel="stylesheet" href="{{ stylesheet }}">
    {% endfor %}
    {% for script in page.scripts %}
      <script src="{{ script }}"></script>
    {% endfor %}
    <script>
      document.addEventListener('DOMContentLoaded', setText);

      function setText() {
        words = window.location.pathname.split('/').filter(Boolean);
        [...document.querySelectorAll('.input')].map(e => {
          if (!e.textContent) e.textContent = words.join(' ');
        });
      }
    </script>
    {% seo %}
  </head>
  <body>
    {{ content }}
  </body>
</html>
