<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400&display=swap" rel="stylesheet">
    <script>
      document.addEventListener('DOMContentLoaded', setText);

      function setText() {
        words = window.location.pathname.split('/').filter(Boolean);
        [...document.querySelectorAll('.input')].map(e => {
          if (!e.textContent) e.textContent = words.join(' ');
        });
      }
    </script>
    <title>{% if page.title %} {{ page.title }} {% else %} I'm Hadi {% endif %}</title>
  </head>
  <body>
    {{ content }}
  </body>
</html>
